{
    auto_https off
}

:8080 {
    # Redirect /canteen to /canteen/
    redir /canteen /canteen/ 308

    # Canteen website
    @canteen path /canteen/*
    handle @canteen {
        uri strip_prefix /canteen
        reverse_proxy testrepo1.railway.internal:8080
    }

    # Main website
    handle {
        reverse_proxy Zwebsite.railway.internal:8080
    }
}
